<!-- temperature-widget.component.html -->
<div class="temperature-wrapper" [class.has-background]="state().hasBackground">
  @if (!hasTemperature()) {
  <!-- Show placeholder icon when no temperature is set -->
  <div class="svg-placeholder" [innerHTML]="safeSvgIcon"></div>
  } @else {
  <!-- Show temperature value with optional label -->
  <div class="temperature-display">
    @if (state().label) {
    <div class="label">
      <span libResponsiveText [minFontSize]="4" [maxFontSize]="120"
        >{{ state().label }}
      </span>
    </div>
    }
    <div class="value-container">
      <span
        libResponsiveText
        [minFontSize]="4"
        [maxFontSize]="120"
        [templateString]="templateString"
      >
        {{ temperatureValue() }}
      </span>
    </div>
    <div class="unit">
      <span libResponsiveText [minFontSize]="4" [maxFontSize]="120"
        >{{ unitSymbol() }}
      </span>
    </div>
  </div>
  }
</div>
